* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6 22 33);
  color: #fff;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 2rem;
}

input {
  width: 20rem;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  border: 2px solid transparent;
  outline: none;
  background: lightgreen;
  border-radius: 1rem;
  color: #000;
  font-size: 1rem;
}

input:hover {
  background: transparent;
  border: 2px solid green;
  color: #fff;
}

button {
  padding: 1rem;
  width: 10rem;
  border: none;
  outline: none;
  background: green;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 1rem;
}

button:hover {
  background: transparent;
  border: 2px solid green;
  color: #fff;
}
